body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;

  color: white;

  background-image: url("./media/sydney-sweeney-boobs.gif"); /* Path to your background image */
  background-repeat: repeat; /* This will repeat the background image both horizontally and vertically */
}

#icons {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 18rem;
}

#icons a {
  margin: 1rem 2rem;
}

#uniswap-icon {
  /* invert color */
  filter: invert(1);
}

#gifs {
  width: 60vw;
}

#gifs img {
  width: 100%; /* Stretch the image to fill the container */
  height: auto; /* Maintain aspect ratio */
  margin: auto;
}
